<div class="container mt-5" style="max-width: 60vw; margin-bottom: 15vh">
  <div class="row">
    <h3 style="margin-top: 6vh; color: #00b2ff" align="center">
      Escolha o tipo de cadastro.
    </h3>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5 mb-5">
      <div class="row alinhaItens">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
          <img height="105%" width="105%" src="assets/usuario.png" />
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
          <span style="font-size: 30px">Usuário</span><br />
          <button
            [routerLink]="['/cadastro/usuario']"
            style="margin-top: 5vh"
            class="btn btn-primary"
          >
            <div style="font-size: 0.9rem">QUERO FAZER PARTE</div>
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-5 linha">
      <div class="row alinhaItens">
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6">
          <img height="105%" width="105%" src="assets/psicologa.png" />
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
          <span style="font-size: 30px">Psicólogo</span><br />
          <button
            [routerLink]="['/cadastro/psicologo']"
            style="margin-top: 5vh"
            class="btn btn-primary"
          >
            <div style="font-size: 0.9rem">QUERO FAZER PARTE</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
