<nav class="navbar navbar-expand-lg navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <a [routerLink]="''" routerLinkActive='active' class="navbar-brand" style="margin-left: 2rem;">
        <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">    
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['home']" routerLinkActive='active' class="nav-link"><b>HOME</b></a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['usuarios']" routerLinkActive='active' class="nav-link"><b>POSTAGENS</b></a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['cadastro']" routerLinkActive='active' class="nav-link"><b>CADASTRE-SE</b></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a [routerLink]="['contato']" routerLinkActive='active' class="nav-link"><b>CONTATO</b></a>
            </li>
        </ul>
    </div>
</nav>